{% include 'templates\components\navbar.html' %}
{% load tailwind_tags %}
{% load static %}
{% comment %} {% block main %} {% endcomment %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-black">
    {% tailwind_css %}
    <div class="text-center">
        <a class="font-bold align-middle h-auto f">BLOG</a>
    </div>
    <div class="grid grid-cols-3">
        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>

        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>

        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>
        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>

        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>

        <div class="rounded-lg h-80 shadow shadow-black/20 hover:shadow-black/20 bg-cyan-400 m-8">
            <div class="">
                <img class="rounded-lg h-60 w-full " src="../static/images/foto2.jpg" alt="">
            </div>
        </div>

        <div class="grid grid-rows-2 grid-cols-2 ">
            <div class="rounded-lg m-8 shadow shadow-black-600/100 hover:shadow-black/20 bg-cyan-400 row-span-1 m-8">
                <div class="">
                    <img class="rounded-lg h-25 w-40" src="../static/images/foto2.jpg" alt="">
                </div>
            </div>

            <div class="rounded-lg m-8 shadow shadow-black-600/100 hover:shadow-black/20 bg-cyan-400 row-span-1 m-8">
                <div class="">
                    <img class="rounded-lg h-25 w-40" src="../static/images/foto2.jpg" alt="">
                </div>
            </div>

            <div class="rounded-lg m-8 shadow shadow-black-600/100 hover:shadow-black/20 bg-cyan-400 row-span-1 m-8">
                <div class="">
                    <img class="rounded-lg h-25 w-40" src="../static/images/foto2.jpg" alt="">
                </div>
            </div>
            <div class="rounded-lg m-8 shadow shadow-black-600/100 hover:shadow-black/20 bg-cyan-400 row-span-1 m-8">
                <div class="">
                    <img class="rounded-lg h-25 w-40" src="../static/images/foto2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="rounded-lg h-40 m-8 shadow shadow-black-600/100 hover:shadow-black/20">
            <div class="">
            </div>
        </div>
        <div class="rounded-lg h-40 m-8 shadow shadow-black-600/100 hover:shadow-black/20">
            <div class="">
            </div>
        </div>
        <div class="rounded-lg h-40 m-8 shadow shadow-black-600/100 hover:shadow-black/20">
            <div class="">
            </div>
        </div>
        <div class="rounded-lg h-40 m-8 shadow shadow-black-600/100 hover:shadow-black/20">
            <div class="">
            </div>
        </div>
    </div>







        <!--
        !
        ADDING BLOGS HERE
        !


        <div class="w-40 rounded-lg shadow shadow-black-600/100 hover:shadow-black/20 ">

            <div class="w-100%  inline-block m-4">
                <h1 class="w-40 ">Model Serializers and Serializers</h1>
                <p class="w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat reprehenderit suscipit? Dola reprehenderit!</p>
            </div>
        </div>
        <span class="h-40 inline-block">

            <img class="rounded-lg h-40 w-40 inline-block" src="../../static/images/foto3.jpg" alt="">

            <div class="h-40 mx-8 mb-8 px-4 py-2 rounded-lg shadow shadow-black-600/100 hover:shadow-black/20 ">
                <h1 class="">TestingH1</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet blanditiis cumque dolor eaque eligendi error, esse harum itaque magnam maxime, necessitatibus non possimus sunt? Aliquam illo perferendis tempore?
            </div>

 -->
</body>
</html>
{% include 'C:\Users\jimmy\OneDrive\JamesPortfolio\templates\components\footer.html' %}
{% endblock %}

